/* Isaac Book */
@font-face {
	font-family: 'Isaac';
	src: url("./fonts/IsaacBook.woff") format('woff');
	font-weight: 400;
	font-style: normal;
}

/* Isaac Book Italic */
@font-face {
	font-family: 'Isaac';
	src: url("./fonts/IsaacBookItalic.woff") format('woff');
	font-weight: 400;
	font-style: italic;
}

/* Isaac Bold */
@font-face {
	font-family: 'Isaac';
	src: url("./fonts/IsaacBold.woff") format('woff');
	font-weight: 700;
	font-style: normal;
}

/* Isaac Bold Italic */
@font-face {
	font-family: 'Isaac';
	src: url("./fonts/IsaacBoldItalic.woff") format('woff');
	font-weight: 700;
	font-style: italic;
}


body {
    --gray: #e6e6e6;
    --light-gray: #f6f6f6;
    --link: #003aff;

    font-family: Isaac, sans-serif;
    line-height: 1.4;
    color: #333;
    margin: 0;
    background: var(--light-gray);
}
a {
    text-decoration: none;
    color: var(--link);
}
a:hover {
    text-decoration: underline;
}
img, svg {
    display: block;
    margin: 1em auto;
}

select {
    font-family: inherit;
    padding: .5em;
    color: inherit;
    font-size: inherit;
    border: solid 1px #ddd;
    font-weight: bold;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    margin: .5em 0;
    background-color: var(--light-gray);
    background-image: url('data:image/svg+xml;utf8,<svg width="16px" height="16px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><polygon fill="#003aff" points="2 4 14 4 14 5 8 11 2 5"></polygon></svg>');
    background-repeat: no-repeat;
    background-position: center right 8px;
    padding-right: 32px;
    outline: 0;

}
.header {
    padding: .5em 2em;
    background: white;
    box-shadow: 0 0 2px rgba(0, 0, 0, .4);
    box-sizing: border-box;
}
.header h1 {
    font-size: 1.6em;
    line-height: 1;
}
@media (min-width: 500px) {
    .header {
        position: sticky;
        top: 0;
    }
    .filters {
        white-space: nowrap;
    }
    .filters select:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .filters select:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}
@media (max-width: 500px) {
    .filters select {
        width: 100%;
    }
}
@media (min-width: 1000px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header h1 {
        margin: 0 2em 0 0;
    }
    .filters select {
        margin: 0;
    }
}
.content {
    margin: 2em;
    min-height: 50vh;
}
.providers {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16em, 1fr));
    grid-column-gap: 2em;
    grid-row-gap: 4em;
}

.provider header {
    margin-bottom: 1em;
}
.provider-title {
    font-size: 1.4em;
    line-height: 1.2;
    margin: 0 0 .5em 0;
}
.provider-title a {
    color: inherit;
}
.provider-title a::after {
    content: "→";
    color: var(--link);
    padding-left: .3em;
    display: inline-block;
}
.provider-title a:hover {
    color: var(--link);
}
.provider p {
    margin: 0;
    font-size: .9em;
}
.provider-category {
    font-weight: normal;
}
.designers {
    padding: .5em 2em;
    font-size: .9em;
    margin-top: 2em;
    margin-bottom: 4em;
}
.designers p {
    background: var(--gray);
    padding: .5em 1em;
    display: inline-block;
    border-radius: 6px;
}
.footer {
    margin: 6em auto;
    font-size: .9em;
    text-align: center;
    max-width: 400px;
}
.footer a {
    color: inherit;
}
.footer p {
    margin: 2em 0;
}